*{
    font-family: 'Roboto';
    color: blue;
}
nav.menu li{
    background-color: gray;
    /* text-align: center; */
    color: aqua;
}
.menu .list .aktif{
    background-color: black;

}
.menu .list .aktif :hover{
    background-color: pink;
}
.menu .list{
    list-style-position: inside;
    list-style-type:"🍎✅"
}
.menu.list a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;

}
nav.menu li :hover{
    background-color: red;
    font-size: 30px;
}
a:hover{
    color: yellow;
}