*{
     margin: 0%; 
    /* font-size: 0.5em; */
    font-size: 30px;
}
.dede{
    background-color: aqua;
    width: 50%;
    height: 100%;
    /* height: 100vh; */
}
.baba{
    background-color: red;
    width: 50%;
    /* width: 900px; */
}
.torun{
    background-color: yellow;
    width: 50vw;
    /* height: 30vh; */
}
.anneanne{
    font-size: 2em; /*default 16 px oldugu için bu 32px yaptı*/
    color: blue;
}
.anne{
    font-size: 0.5em;
}
.kız{
    font-size: 2em;
}
.div1{
    font-size: 2rem;
}
.div2{
    font-size: 2rem;
}