*{
    font-family: sans-serif;
}
h1{
    /*? color: rgb(107, 40, 151);
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-style:wavy;
    text-decoration-color: aqua; */

    text-decoration: overline underline red 8px;
    /* text-transform: lowercase; */
    text-align: center;

    word-spacing: 15px;

    letter-spacing: 5px;
}
p{
    text-indent: 20px;
    word-spacing: 5px;
    letter-spacing: 3px;
    line-height: 30px;
}
li{
    background-color: yellow;
}
.tatli{
    list-style-position: inside;
    list-style-type:'💔' ;
    list-style-image: url(../img/arrow-right-long-solid.svg);
    list-style-type: square;

}
h3{
    direction: rtl;
}